* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Delius", cursive;
  text-align: center;
  scroll-behavior: smooth;
}

/*This will change the background colour*/
@keyframes bgColourAnimation {
  0% {
    background-color: lemonchiffon;
  }
  50% {
    background-color: lavender;
  }
  100% {
    background-color: lemonchiffon;
  }
}

/*This will move an image to the left*/
@keyframes imgAnimationLeft {
  0% {
    right: 0px;
  }
  50% {
    right: 100px;
  }
  100% {
    right: 0px;
  }
}

/*This will move an image to the right*/
@keyframes imgAnimationRight {
  0% {
    left: 0px;
  }
  50% {
    left: 100px;
  }
  100% {
    left: 0px;
  }
}

body {
  background-color: lemonchiffon;
  animation-name: bgColourAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  line-height: 1.5;
}

ul {
  display: flex;
  list-style-type: none;
  background-color: #8a2be2;
  flex-direction: row-reverse;
}

ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.15rem;
  transition: all 0.25s ease-in-out;
  border-left: 1px solid #fff;
}

ul li a:hover {
  cursor: pointer;
  background-color: #af76e3a6;
}

h1 {
  padding: 5rem 0;
  color: blue;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.container {
  max-width: 1200px;
  margin: 3rem auto;
  padding: 2rem 3rem 5rem 3rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.container h2 {
  font-size: 2rem;
  padding: 2rem 0;
  text-decoration: underline;
  color: blueviolet;
}

/*Below are the styles for the first section*/
.picture-section .bg-image-container {
  background-image: url(../images/view-pic-saint-lou.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.picture-section .bg-image-container p {
  margin: 2rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 1rem;
  border: 3px dotted darkblue;
  transition: all 0.25s ease-in-out;
}

.picture-section .bg-image-container p:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.picture-section .random-photo-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.picture-section .random-photo {
  height: 25rem;
  border-radius: 1rem;
  border: 3px dotted darkblue;
}

.picture-section .photo-one {
  position: relative;
  animation-name: imgAnimationRight;
  animation-duration: 4s;
  animation-iteration-count: 2;
}

.picture-section .photo-two {
  position: relative;
  animation-name: imgAnimationLeft;
  animation-duration: 4s;
  animation-iteration-count: 5;
}

.picture-section .random-photo-text-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.picture-section .random-photo-text {
  border-radius: 1rem;
}

hr {
  border: 1px solid blue;
  margin: 2rem 0;
}

/*Below are the styles for the second section*/
.container .square-section .square-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.container .square-section .square {
  height: 100px;
  width: 100px;
  border: 2px solid #000;
}

.container .square-section .square:hover {
  cursor: pointer;
}

.container .square-section .red-square {
  background-color: red;
  color: #fff;
  transition: width 3s;
}

.container .square-section .red-square:hover {
  width: 500px;
}

.container .square-section .yellow-square {
  background-color: yellow;
  transition: all 2s;
}

.container .square-section .yellow-square:hover {
  transform: rotateY(180deg);
}

.container .square-section .green-square {
  background-color: green;
  color: #fff;
  transition: all 5s;
}

.container .square-section .green-square:hover {
  background-color: green;
  transform: rotate(360deg);
}

.container .square-section .blue-square {
  background-color: blue;
  color: #fff;
  transition:
    width 5s,
    height 1s;
}

.container .square-section .blue-square:hover {
  width: 500px;
  height: 500px;
}
