* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

ul {
  display: flex;
  list-style-type: none;
  background-color: #8a2be2;
  flex-direction: row-reverse;
}

ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.15rem;
  transition: all 0.25s ease-in-out;
}

ul li a:hover {
  cursor: pointer;
  background-color: #af76e3a6;
}

h1 {
  padding: 5rem 0;
  text-decoration: underline;
  color: blue;
}
